
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
  }
/* shared */
  :root {
    --orange:rgb(253, 110, 10);
    --lightorange : #FFF8F3;
    --dark2: rgb(71, 71, 71);
    --dark3: rgb(117, 117, 117);
  }

  .btn-primary{
        /* Rectangle 1 */
         padding:8px 15px;
         background-color: var(--orange);
         font-size: 17px;
         font-weight: 600;
         border: none;
         color:white;
         border-radius: 5px;
         cursor: pointer;
    
  }

  /* .............................. */
 header{
    background-color: var(--lightorange);
    padding: 0px 150px;
    background-image: url("../images/header_bg.png"),url("../images/developer.png");
    background-repeat: no-repeat;
    background-position: right bottom, left top;
    background-size: 700px 374px ,  contain;
 }
header nav{
     display: flex;
     align-items: center;
    
     justify-content: space-between;
}

header ul{
    display:  flex;
    column-gap: 40px;
    align-items: center;
}

header .logo{
    font-family: Open Sans;
    font-size: 38px;
    font-weight: 800;
    line-height: 52px;
    letter-spacing: 0%;
    text-align: left;
}

header .logo span{
    color : var(--orange);
}


header ul li{
    list-style: none;
}

header ul li a{
    text-decoration: none;
    color: var(--dark3);
}

/* banner section */
 header .banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
 }

 header .banner img{
    width: 400px;
 }

 header .banner .contact-btn{
    background-color: white;
    color: var(--orange);
    border: 1px solid var(--orange);
    margin-left: 20px;
 }

 header .banner h4{
    color: var(--dark2);
    margin-bottom: -30px;
    font-size: 38px;
    font-weight: 500;
 }

 header .banner h1{
    font-size: 73px;
 }
 
 header .banner p{
    color: var(--dark3);
    margin-bottom: 20px;
 }

 header .banner-content{

    width: 500px;
 }

 /* .................main...................... */
 main{
    max-width: 940px;
    margin: auto;
    margin-top: 40px;
 }

 main #about {
    width: 100%;
    text-align: center;
    background-color:  var(--lightorange);
    margin-bottom: 50px;
 }
#about .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 711px;
    margin: auto;
}
 main #about .details{
    display: flex;
    justify-content: space-between;
    width: 100%;
 }

 #about .details p{
    color: var(--dark3);
    font-size: 20px;
    margin-bottom: 15px;
    margin-bottom: -10PX;
 }
 #about .details h4{
    color: var(--dark2);
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 40px;
 }

 main .do{
    text-align: center;
 }

 main .do p{
    color: var(--dark3);
    margin-bottom: 15px;
 }



 /* .................... */

 .card-container{
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
 }

 .card-container div{
    width: 180px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.1);
    background-color: white;
    border-radius: 4px;
 }

 .card-container p{
    font-size: 13px;
    color: var(--dark3);
    
 }

 .maincontainer{
    display: flex;
    justify-content: space-between;
 }

 .maincontainer .left div, .right div{
    border-bottom: 2px solid rgb(209, 209, 209);
 }

  section>h1{
    text-align: center;
    margin-bottom: 30px;
    margin-top: 70px;
 }

 .maincontainer .left ,.right{
     width: 430px;
 }

 .maincontainer p{
    color: var(--dark3);
    font-size: 14px;
 }

 .maincontainer h4{
    color: var(--dark3);
 }

 .maincontainer h1,h2{
    color: var(--dark2);
 }

 .maincontainer h2{
    font-size: 20px;
 }

 .resumesec .btn-container{
    margin-top: 40px;
    display: flex;
    justify-content: center;
 }